@use '../../scss/variables';
@use '../../scss/mixins';

.card-full{
    max-width: 424px;
    padding: 0 10px 187px 35px;
    background: #FFF4FB;
    border-radius: 35px 0px 0px 187px;
    height: max-content;

    @include mixins.media-mobile{
        border-radius: 12px;
        padding: 0 10px 30px 10px;
        margin-bottom: 30px;
    }
}

.card-empty{
    width: 424px;
    height: 676px;
}

.card{
    &__img{
        width: 380px;
        height: 214px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        mask-image: url(../../assets/svg/rs-lang-mask.svg);
        mask-repeat: no-repeat;
        mask-position: center;

        @include mixins.media-mobile{
            width: 360px;
            height: 200px;
            mask-size: contain;
            margin: 0 auto;
        }
    }

    &-subtitle{
        font-size: 1.875rem;
        font-weight: 400;
        @include mixins.media-mobile{
            font-size: 1.75rem;
        }
    }

    &-subtext{
        font-size: 1.375rem;
        margin-bottom: 10px;
        @include mixins.media-mobile{
            font-size: 1.25rem;
            margin-bottom: 5px;
        }
    }

    &-subtext-translate{
        font-size: 1.125rem;
        color: variables.$font-color-secondary;
    }

    &__word-text{
        margin-bottom: 25px;
    }
    
    &__word-transcript{
        display: flex;
        align-items: center;
        column-gap: 10px;
        margin-bottom: 50px;
        @include mixins.media-mobile{
            margin-bottom: 30px;
        }
    }

    &__meaning{
        margin-bottom: 30px;

        & i{
            font-style: italic;
            font-weight: 400;
            font-size: 1,375rem;
            color: #B569F1;
        }
    }

    &__example{
        & b{
            font-style: italic;
            font-weight: 400;
            font-size: 1,375rem;
            color: #B569F1;
        }
    }

    &__auth-controls{
        padding-top: 20px;
        display: flex;
        column-gap: 25px;
    }
}

.subtitle-wrapper{
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 15px;
}

.word{
    font-size: 2rem;
    
    @include mixins.media-mobile{
        font-size: 1.875rem;
    }
}

.word-translate{
    font-size: 1.5rem;
    color: variables.$font-color-secondary;
    
    @include mixins.media-mobile{
        font-size: 1.375rem;
    }
}

.word-transcript{
    font-size: 1.625rem;
    
    @include mixins.media-mobile{
        font-size: 1.5rem;
    }
}

.word-transcript-audio{
    cursor: pointer;
    transition: all .2s linear;

    &:hover{
        filter: opacity(0.6);
    }
}

audio{
    display: none;
}

.auth-controls__btn{
    background: linear-gradient(180deg, rgba(239, 193, 246, 0.3) 0%, rgba(255, 202, 202, 0.2) 100%);
    border: none;
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 8px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color .2s linear;

    &:hover:not(:disabled){
        background-color: variables.$bg-color-addition;
    }

    &:disabled{
        cursor: default;
    }
}