.pagination{
    &__controls{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        column-gap: 35px;
        padding-top: 30px;
    }
}

.controls{
    &__next,
    &__prev{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: all .2s linear;
    }

    &_disabled{
        font-size: 1.4rem;
        color: rgb(90, 90, 90);
    }
}

.pagination-current{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    border-radius: 50%;
    border: none;
    background-color: #DFC7FD;
}