@use '../../scss/variables';
@use '../../scss/mixins';

.navigation{
    display: flex;
    column-gap: 30px;
    position: relative;

    &__elem{
        cursor: pointer;
        list-style-type: none;
        font-size: 1.25rem;
        border-bottom: 3px solid transparent;
        transition: all .4s linear;
        color: #000;

        @include mixins.media-mobile{
            font-size: 2rem;
        }
    }

    &__elem:hover:not(.active){
        border-bottom: 3px solid #000;
    }

    @include mixins.media-mobile{
        row-gap: 20px;
        font-size: 3rem;
        color: #FFF;
        flex-direction: column;
    }
}

.active{
    color: variables.$font-color-active;
    cursor: default;

    // @include mixins.media-mobile{
    //     color: variables.$font-color-active-mobile;
    // }
}
