@use '../../scss/mixins';

.dictionary-options{
    display: flex;
    column-gap: 20px;
    padding-bottom: 25px;

    @include mixins.media-mobile{
        column-gap: 10px;
    }
}

.dictionary__option{
    display: flex;
    flex-direction: column;
    height: 80px;
    width: 180px;
    background: linear-gradient(112.76deg, #E5FFCB 19.22%, rgba(251, 212, 184, 0.59) 117.06%);
    border-radius: 10px;
    padding: 10px 0px 0px 10px;
    opacity: 0.6;
    transition: opacity .2s linear;
    cursor: pointer;

    @include mixins.media-mobile{
        width: 110px;
        height: 60px;
    }

    &_active{
        opacity: 1;
    }

    &__title{
        font-size: 1.5rem;
        @include mixins.media-mobile{
            font-size: 1.125rem;
        }
    }

    &__amount{
        font-size: 1.2rem;
        padding-left: 20px;
        @include mixins.media-mobile{
            font-size: .95rem;
        }
    }
}