@use '../../../scss/variables';
@use '../../../scss/mixins';

.audio-quest-game{

    &-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        row-gap: 50px;
    }

    &__current-word{
        cursor: pointer;
        height: 160px;
        width: 160px;
        border: 8px solid #000;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .4s linear;

        &:hover{
            opacity: .8;
        }
    }

    &__answers{
        display: flex;
        font-size: 1.125rem;
        font-weight: 500;
        column-gap: 20px;
        cursor: pointer;

        @include mixins.media-tablet{
            flex-direction: column;
            row-gap: 20px;
            font-size: 1.25rem;
        }
    }

    &__answer{
        padding: 5px 10px;
        background: transparent;
        transition: all .2s linear;

        &:hover{
            background-color: rgb(214, 214, 214);
        }
    }

    &__skip-btn{
        width: 100px;
        font-size: 1.25rem;
        background: linear-gradient(to left, variables.$bg-color-primary 50%,rgb(214, 214, 214) 50.15%) right;
        background-size: 200%;
        transition: .5s ease-out;
        cursor: pointer;
        padding: 10px 5px;
    
        &:hover{
            background-position: left;
        }
    }

}