@use '../../scss/variables';

.main-wrapper{
    background-color: variables.$bg-color-primary;
}

// TODO: probably float will be good

.main{
    max-width: 1300px;
    height: calc(100vh - 167px);
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;

    &__img1{
        height: 280px;
        width: 1176px;
        background-image: url(../../assets/svg/rs-lang-bg1.svg);
        background-repeat: no-repeat;
    }

    &__img2{
        position: absolute;
        height: 309px;
        width: 292px;
        top: 40%;
        left: 70%;
        background-image: url(../../assets/svg/rs-lang-bg2.svg);
        background-repeat: no-repeat;
    }

    &__intro1{
        position:absolute;
        left: 10vw;
        top: 9%;
        opacity: 0;
    }

    &__intro2{
        position:absolute;
        top: 50%;
        left: 47%;
        opacity: 0;
    }

    &__intro-text{
        margin-bottom: 5px;
        font-size: 1.5rem;
        font-weight:normal;
    }

    &__intro-subtext{
        font-size: 1.25rem;
        color: variables.$font-color-secondary;
        font-weight:normal;
    }
}