@use './scss/mixins';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html{
    font-size: 16px;

    @include mixins.media-mobile{
        font-size: 15px;
    }

}

a{
    text-decoration: none;
}