@use '../../scss/mixins';

%burger-line{
    display: inline-block;
    background-color: #000;
    height: 4px;
    width: 100%;
    border-radius: 8px;
}

.burger-ico{

    display: none;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 45px;
    position: relative;
    z-index: 2;
    cursor: pointer;

    // &.active{
    //     display: none;
    // }

    @include mixins.media-tablet{
        display: flex
    }

}

.burger-line{
    @extend %burger-line;

    &:before{
        content: "";
        position: absolute;
        top: 0;
        @extend %burger-line;
    }

    &:after{
        content: "";
        position: absolute;
        bottom: 0;
        @extend %burger-line;
    }
}

.burger-menu-wrapper{
    display: none;
    position: fixed;
    z-index: -1;
    overflow: hidden;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: opacity .2s linear;
    opacity: 0;
    &.active{
        z-index: 3;
        opacity: 1;
    }

    &.active .burger-menu{
        transform: translateX(0);
    }

    @include mixins.media-tablet{
        display: block
    }
}

.burger-menu{
    width: max(320px, 40%);
    height: 100vh;
    position: absolute;
    z-index: 4;
    right: 0;
    transform: translateX(100%);
    background: linear-gradient(180.17deg, #D49FDC 0.15%, rgba(240, 217, 243, 0.19) 94.51%);
    transition: all .4s ease-out;
}