@use '../../scss/variables';
@use '../../scss/mixins';

.full-height{
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
    height: calc(100vh - 167px);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.book__games{
    padding-top: 30px;
    padding-bottom: 30px;

    &-intro{
        margin-bottom: 45px;
    }

    &-list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        @include mixins.media-tablet{
            flex-direction: column;
            justify-content: center;
            row-gap: 20px;
        }
    }

    &__savannah{
        width: 415px;
        height: 275px;
        background-image: url(../../assets/svg/rs-lang-bg6.svg);
        animation: 5s linear infinite floating;
    }

    &__audio-quest{
        width: 435px;
        height: 305px;
        background-image: url(../../assets/svg/rs-lang-bg7.svg);
        animation: 5s linear infinite floating-reverse;
    }
}

.games-title{
    font-size: 2rem;
}

.games-subtitle{
    font-size: 1.25rem;
}

.game-link{
    color: #000;
}

.game-title{
    font-size: 1.75rem;
}

.game-subtitle{
    font-size: 1.125rem;
    max-width: 230px;
    padding-left: 20px;
}

.sprint-link{
   position: relative;
   left: 115px;
   
   @include mixins.media-tablet{
        top: 20px;
    }
}

.audio-quest-link{
    position: relative;
    top:100px;
    left: 105px;
}

@keyframes floating {
    0%{
        transform: translateY(10px);
    }

    50%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(10px);
    }

}

@keyframes floating-reverse {
    0%{
        transform: translateY(-10px);
    }

    50%{
        transform: translateY(10px);
    }

    100%{
        transform: translateY(-10px);
    }

}

.game-wrapper{
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
    height: calc(100vh - 167px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    row-gap: 50px;
}

.game-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-single-title{
    font-size: 2rem;
}

.game-single-subtitle{
    font-size: 1.25rem;
    max-width: 50%;
    text-align: center;

    @include mixins.media-mobile{
        max-width: 90%;
    }
}

.game-difficulties{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.game-info__text{
    font-size: 1.25rem;
    padding-bottom: 10px;
    text-align: center;
}

.game-difficulty{
    font-size: 1.125rem;
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    transition: all .2s linear;

    &_active{
        background-color: #F2E1F4;
    }
}

.game-start-btn{
    border: none;
    background: linear-gradient(to left, variables.$bg-color-primary 50%, #D49FDC 50.15%, rgba(240, 217, 243, 0.19)) right;
    background-size: 200%;
    transition: .5s ease-out;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px 10px;
    border: 3px solid variables.$font-color-secondary;
    border-radius: 20px;

    &:hover{
        background-position: left;
    }

    &:disabled{
        cursor: default;
        background: transparent;
    }
}

.game-counter{
    font-size: 2.2rem;
}

