.loader-wrapper{
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    opacity: .4;
    display: flex;
    justify-content: center;
    align-items: center;
}